*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#board{
    width:800px;
    height:800px;
    border-radius:20px;
    background:#fff;
}
